.git
.gitignore
.github
.env
.env.example
docs
node_modules
vendor
storage/app
storage/logs
storage/framework/cache/data
public/build
README.md
Makefile
docker-compose.yml
docker-compose.prod.yml
docker/dev
